<footer class="bg-blue-900 text-white p-4 mt-8">
    <div class="container mx-auto text-center">
        <div class="flex justify-center space-x-6 mb-4">
            <a href="/privacy-policy" class="text-white">Privacy Policy</a>
            <a href="/terms-of-service" class="text-white">Terms of Service</a>
        </div>
        <div class="flex justify-center space-x-4 mb-4">
            <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                <img src="/icons/facebook.svg" alt="Facebook" class="w-6 h-6"/>
            </a>
            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                <img src="/icons/twitter.svg" alt="Twitter" class="w-6 h-6"/>
            </a>
            <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
                <img src="/icons/linkedin.svg" alt="LinkedIn" class="w-6 h-6"/>
            </a>
        </div>
        <p>&copy; 2024 Lopez Professional Services. All rights reserved.</p>
    </div>
</footer>
