---
import '../../src/styles/globals.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/800.css';
import interFont400 from '@fontsource/inter/files/inter-latin-400-normal.woff2?url';
import interFont800 from '@fontsource/inter/files/inter-latin-800-normal.woff2?url';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <link rel="preload" as="font" type="font/woff2" href={interFont400} crossorigin />
        <link rel="preload" as="font" type="font/woff2" href={interFont800} crossorigin />
    </head>
    <body class="antialiased text-white" style="background-image: url('https://source.unsplash.com/random/1600x900?house'); background-size: cover; background-position: center;">
        <div class="min-h-screen flex flex-col">
            <Header />
            <div class="flex flex-col grow">
                <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl"> <!-- Updated max-width -->
                    <slot />
                </main>
            </div>
            <Footer />
        </div>
    </body>
</html>
